header h1 {
 font-family: "Lobster two",georgia, serif;
 color: #E2E6AC;
}

header p {
 margin-bottom: 25px;
}


.navbar .brand {
 float: left;
 padding: 8px 20px 0px;
 margin-left: -5px;
 font-size: 20px;
 font-weight: 200;
 line-height: 1;
 color: #fff;
}

.navbar-inner .container .nav .roundrectangle a{
   background-color: #8A2E2E;
   color:#fff;
}



li{
   float: left;
   font-size: 16px;
    color: #444;
    line-height: 1.5;
   margin: 0 0 1.2em;
  }
  
hr{
  width: 100%;
 }


 .carousel {
 border: 10px solid #FFF;
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	transform: rotate(1deg);
	filter: progid:DXImageTransform.Microsoft.Matrix( M11=0.9986295347545738, M12=-0.05233595624294383, M21=0.05233595624294383, M22=0.9986295347545738, sizingMethod='auto expand');
	zoom: 1;
	-webkit-box-shadow: 10px 10px 20px #002624;
	-moz-box-shadow: 10px 10px 20px #002624;
	box-shadow: 10px 10px 20px #002624;
}

.carousel .item {
	max-height: 400px;
}

@-moz-keyframes myfirst /* Firefox */
{
  from {background:red;}
  to {background:yellow;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
  from {background:red;}
  to {background:yellow;}
}

.text-center{
  text-align:center;
}

.sliderFrame h1 {
  font-size: 50px;
  line-height: 1;
  color: inherit;
  letter-spacing: -1px;
  
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
   margin: 0 0 10px;
}

.square {
  width: 100px;
  height: "100%";
  border:2px solid black;
  background: white;
 
}
.roundrectangle{
  color: white;
  text-decoration: none;
  border:2px solid black;
  padding-right: 32px;
  padding-left: 32px;
  background:#dddddd;
  width:300px;
  border-radius:25px;
  background-color: #8A2E2E;
  -moz-border-radius:25px; /* Old Firefox */

 }
 
 .centered{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
 }

a{
  text-decoration:none;
  color:black;
}

.clear-navbar {
margin-top: 60px;
}

.row {
margin-left: -20px;
}




div{
 display:block;
}

body {
background: #158D90;
}

.navbar-inner{
 background:#1b1b1b
}

